* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    border: 0;
    padding: 18px 35px;
    font-size: 20px;

}

/* header and navigation style */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

/* banner */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px
}

.banner-discription {
    font-size: ;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}




/* about section */
section {
    margin-top: 130px;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
    text-align: center;

}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-description {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
}

.about-details {
    display: flex;
}

.about-details-div {
    margin-right: 150px;
}

/* what i do */
.what-i-do {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 156px;
}

.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.section-title {
    margin-bottom: 30px;
}

.skills-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}

/* resume  */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;

}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* resume button */
.resume-btn {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

/* contacjt style */
.contact {
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-title {
    text-align: left;
}

.contact input,
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 10px;
}

input {
    height: 30px;
}

.contact .contact-description {
    margin-bottom: 20px;
}

.contact-footer-one a {
    margin-right: 20px
}